.item {
    margin-bottom: 10px;
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    border-bottom: 1px dashed;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox {
    margin-right: 10px;
}

.pointer {
    cursor: pointer;
}

.del {
    text-decoration: line-through;
}

.time {
    font-size: 12px;
    color: #949292;
    margin-left: 10px;
    font-style: italic;
}

.close {
    width: 16px;
    height: 16px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: red;
    color: white;
    border-radius: 30%;
    cursor: pointer;
    margin-left: 8px;
}

.input {
    width: 320px;
}

.confirm {
    cursor: pointer;
    margin-left: 15px;
}